/* CLIENT THEME SASS VARIABLES, MUST COME BEFORE ENGRID ASSETS */
@import "./page-template-variables";

/* ENGRID ASSETS */
@import "@4site/engrid-styles"; // Uses ENGrid via NPM
// @import "../../../engrid/packages/styles"; // Uses ENGrid via Visual Studio Workspace

/* CLIENT THEME FONTS AND STYLES */
@import "./page-template-fonts";
@import "./page-template-styles";
@import "./non-embed-multistep";

/* ENGRID PAGE TEMPLATES MAKES THE BODY INVISIBLE SO THE USER NEVER SEE'S AN UNSTYLED PAGE*/
/* THIS MAKES THE BODY VISIBLE AFTER IT'S DOWNLOADED AND PARSED BY THE BROWSER */
body {
  opacity: 1;
  transition: opacity 0.2s;
}

/* @TODO: Delete the following code when doing the October 2024 update */
#en__pagebuilder {
  .checkbox-label {
    display: block;
    position: relative;
    background-color: #0000ff1a;

    &::after {
      content: "Checkbox Label";
      display: block;
      color: lightgoldenrodyellow;
      background-color: lightcoral;
      padding: 5px;
      border-radius: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}
body:not(#en__pagebuilder) .checkbox-label {
  display: none;
}
.match_gift_container {
  background: #000;
  margin: auto -60px;
  padding: 32px 40px;
  font-weight: 700;
  font-size: 22px;
  span.line {
    display: inline-block;
  }
  .match_code_heading {
    font-family: var(--font-stack-aiusa-bold-condensed);
    color: var(--color_primary);
    text-align: center;
    font-size: 28px;
    letter-spacing: 0.42px;
    line-height: normal;
    margin-bottom: 12px;
  }
  .match_code_row {
    display: grid;
    width: 100%;
    grid-template-columns: auto 130px;
    gap: 8px;
  }
  .match_code_code {
    background: var(--color_white);
    text-align: center;
    color: #667085;
    line-height: 27px; /* 122.727% */
    letter-spacing: -0.44px;
    padding: 13px 14px;
  }
  .match_code_applied_button {
    font-family: var(--font-stack-aiusa-bold-condensed);
    border-radius: 56px;
    background: var(--color_primary);
    color: #000;
    line-height: 27px; /* 122.727% */
    padding: 12px 0;
    text-align: center;
  }
  .match_code_success_message {
    margin-top: 4px;
    color: var(--color_white);
    text-align: center;
    font-style: italic;
    font-size: 14px;
    line-height: normal;
    letter-spacing: -0.168px;
  }
}
[data-engrid-display-context="splashpage"][data-thank-you="true"] footer {
  display: none;
}
@media screen and (max-width: 720px) {
  .match_gift_container {
    margin: auto -2px;
  }
}
@media screen and (max-width: 450px) {
  .match_gift_container .match_code_row {
    grid-template-columns: auto;
  }
}