/* All CSS Custom Properties should be scoped to the theme using CSS Data Attributes. */
[data-engrid-theme="aiusa"] {

  // FIXED COLOR PALETTE
  --color_transparent: transparent;
  --color_white: rgba(255, 255, 255, 1);
  --color_black: rgba(37, 37, 37, 1);
  --pagebuilder__background-color: #c1c0c0;

  // GRAYSCALE COLOR PALETTE
  --color_off-white: #dfdfdf;
  --color_light-gray: #bfbfbf;
  --color_gray: #b3b3b3;
  --color_dark-gray: #808080;
  --color_off-black: #404040;

  // SEMANTIC COLOR PALETTE
  --success: #33cc33;
  --warning: #fcac00;
  --error: #f12222;

  // PRIMARY COLORS
  --color_primary: #ffff00;
  --color_primary_overlay: #000000;

  // SEMANTIC GEOMETRIC SCALING
  --scale-up_20pct: 1.2;
  --scale-up_40pct: 1.4;
  --scale-up_80pct: 1.8;
  --scale-up_160pct: 2.6;
  --scale-down_20pct: 0.8;
  --scale-down_40pct: 0.6;
  --scale-down_80pct: 0.2;

  // FONT STACKS
  --native-fonts__sans-serif: -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;

  // TYPOGRAPHY DEFAULT
  --default_font-family: var(--font-stack-aiusa);
  --default_color: var(--color_black);
  --default_font-size: var(--root_font-size);
  --default_font-weight: initial;
  --default_line-height: initial;

  // TYPOGRAPHY H1
  --h1_font-family: var(
    --font-stack-aiusa-bold-condensed
  );
  --h1_color: initial;
  --h1_font-size: calc(
    var(--root_font-size) * var(--scale-up_160pct)
  );
  --h1_font-weight: var(
    --headline-font-weight
  );
  --h1_line-height: var(--h1_font-size);

  // TYPOGRAPHY H2
  --h2_font-family: var(--h1_font-family);
  --h2_color: initial;
  --h2_font-size: calc(
    var(--root_font-size) * var(--scale-up_80pct)
  );
  --h2_font-weight: initial;
  --h2_line-height: var(--h2_font-size);

  // TYPOGRAPHY H3
  --h3_font-family: var(--h1_font-family);
  --h3_color: initial;
  --h3_font-size: calc(
    var(--root_font-size) * var(--scale-up_40pct)
  );
  --h3_font-weight: initial;
  --h3_line-height: var(--h3_font-size);

  // TYPOGRAPHY P
  --p_font-family: var(--default_font-family);
  --p_color: initial;
  --p_font-size: var(--root_font-size);
  --p_font-weight: initial;
  --p_line-height: initial;

  // TYPOGRAPHY LABEL
  --label-font-family: var(
    --font-stack-aiusa-bold-condensed
  );
  --label-color: #525252;
  --label-font-size: 12px;
  --label-font-weight: initial;
  --label-line-height: initial;

  // TYPOGRAPHY INPUT
  --input_font-family: var(
    --default_font-family
  );
  --input_color: initial;
  --input_font-size: var(--root_font-size);
  --input_font-weight: initial;
  --input_line-height: initial;
  --input_background-color: #f5f5f5;
  --input_border-width: 2px;
  --input_border-color: var(
    --input_background-color
  );
  --input_border-radius: initial;
  --input_placeholder-color: #767676;
  --input_box-shadow: none;

  // TYPOGRAPHY INPUT:FOCUS
  // TYPOGRAPHY INPUT:HOVER
  --input_color_hover: var(--input_color);
  --input_background-color_hover: var(
    --input_background-color
  );
  --input_border-color_hover: var(--input_background-color);
  --input_border-bottom-color_hover: #525252;
  --input_box-shadow_hover: none;

  // TYPOGRAPHY RADIO
  --radio_content: "";
  --radio_color: var(--color_primary);
  --radio_background-color: var(--color_white);
  --radio_border-width: 1px;
  --radio_border-color: var(--color_black);
  --radio_border-radius: 50%;
  --radio_height: 1.4rem;
  --radio_width: 1.4rem;
  --radio_box-shadow: none;

  // TYPOGRAPHY RADIO INPUT:FOCUS
  // TYPOGRAPHY RADIO INPUT:HOVER
  --radio_color_hover: var(--radio_color);
  --radio_background-color_hover: var(
    --radio_background-color
  );
  --radio_border-color_hover: var(
    --radio_border-color
  );
  --radio_box-shadow_hover: none;

  // TYPOGRAPHY RADIO INPUT:CHECKED
  --radio_color_selected_selected: var(
    --radio_background-color
  );
  --radio_background-color_selected: var(--color_white);
  --radio_border-color_selected: var(
    --radio_border-color
  );
  --radio_box-shadow_selected: inset 0 0 0 6px var(--color_black);

  // TYPOGRAPHY CHECKBOX
  --checkbox_color: var(--color_white);
  --checkbox_background-color: var(--color_white);
  --checkbox_border-width: 1px;
  --checkbox_border-color: var(--color_black);
  --checkbox_border-radius: 0px;
  --checkbox_height: 1.75rem;
  --checkbox_width: 1.75rem;

  // TYPOGRAPHY CHECKBOX INPUT:FOCUS
  // TYPOGRAPHY CHECKBOX INPUT:HOVER
  --checkbox_color_hover: var(
    --checkbox_color
  );
  --checkbox_background-color_hover: var(
    --checkbox_background-color
  );
  --checkbox_border-color_hover: var(
    --checkbox_border-color
  );

  // TYPOGRAPHY CHECKBOX INPUT:CHECKED
  --checkbox_content_checked: "✓";
  --checkbox_color_checked: var(
    --checkbox_background-color
  );
  --checkbox_background-color_checked: var(--color_black);
  --checkbox_border-color_checked: var(
    --checkbox_border-color
  );

  // TYPOGRAPHY SELECT
  --select_font-family: var(
    --default_font-family
  );
  --select_color: var(--color_black);
  --select_font-size: var(--root_font-size);
  --select_font-weight: initial;
  --select_line-height: initial;
  --select_background-color: #f5f5f5;
  --select_border-width: 2px;
  --select_border-color: #f5f5f5;
  --select_border-radius: initial;
  --select_box-shadow: var(
    --input_box-shadow
  );

  // TYPOGRAPHY SELECT:FOCUS
  // TYPOGRAPHY SELECT:HOVER
  --select_color_hover: var(--select_color);
  --select_background-color_hover: var(
    --select_background-color
  );
  --select_border-color_hover: var(
    --select_border-color
  );
  --select_border-bottom-color_hover: var(--color_black);
  --select_box-shadow_hover: var(
    --input_box-shadow_hover
  );

  // TYPOGRAPHY TEXTAREA
  --textarea_font-family: var(
    --default_font-family
  );
  --textarea_color: initial;
  --textarea_font-size: var(--root_font-size);
  --textarea_font-weight: initial;
  --textarea_line-height: initial;
  --textarea_background-color: #f5f5f5;
  --textarea_border-width: 2px;
  --textarea_border-color: var(--textarea_background-color);
  --textarea_border-radius: initial;
  --textarea_placeholder-color: var(--color_light-gray);
  --textarea_box-shadow: var(
    --input_box-shadow
  );

  // TYPOGRAPHY TEXTAREA:FOCUS
  // TYPOGRAPHY TEXTAREA:HOVER
  --textarea_color_hover: var(--textarea_color);
  --textarea_background-color_hover: var(--textarea_background-color);
  --textarea_border-color_hover: var(--textarea_background-color);
  --textarea_border-bottom-color_hover: var(--input_border-bottom-color_hover);
  --textarea_box-shadow_hover: var(--input_box-shadow_hover);

  // TYPOGRAPHY BUTTON
  --button_font-family: var(
    --font-stack-aiusa-bold-condensed
  );
  --button_color: var(--color_black);
  --button_font-size: 18px;
  --button_font-weight: bold;
  --button_line-height: initial;
  --button_background-color: var(--color_white);
  --button_border-width: 2px;
  --button_border-color: #e4e4e4;
  --button_border-radius: initial;
  --button_padding: 1.5ch 0.75ch;

  // TYPOGRAPHY BUTTON:HOVER
  --button_color_hover: var(--button_color);
  --button_background-color_hover: var(
    --button_background-color
  );
  --button_border-color_hover: var(
    --button_color
  );
  --button_focus-hover-background-color: #fff;
  --button_focus-hover-color: var(--color_black);

  // TYPOGRAPHY BUTTON:CHECKED
  --button_color_checked: var(--color_white);
  --button_background-color_checked: var(--color_black);
  --button_border-color_checked: var(--color_black);

  // TYPOGRAPHY GIVING FREQUENCY BUTTON
  --recurring-frequency__button_font-family: var(
    --button_font-family
  );
  --recurring-frequency__button_color: var(
    --button_color
  );
  --recurring-frequency__button_font-size: var(
    --button_font-size
  );
  --recurring-frequency__button_font-weight: var(
    --button_font-weight
  );
  --recurring-frequency__button_line-height: var(
    --button_line-height
  );
  --recurring-frequency__button_background-color: var(
    --button_background-color
  );
  --recurring-frequency__button_border-width: var(
    --button_border-width
  );
  --recurring-frequency__button_border-color: var(
    --button_border-color
  );
  --recurring-frequency__button_border-radius: var(
    --button_border-radius
  );
  --recurring-frequency__button_padding: 1.5ch 1.75ch;

  // TYPOGRAPHY GIVING FREQUENCY BUTTON:HOVER
  --recurring-frequency__button_color_hover: var(--button_color_hover);
  --recurring-frequency__button_border-color_hover: var(--color_black);
  --recurring-frequency__button_background-color_hover: var(--color_white);

  // TYPOGRAPHY GIVING FREQUENCY BUTTON:CHECKED
  --recurring-frequency__button_color_checked: var(
    --button_color_hover
  );
  --recurring-frequency__button_background-color_checked: var(
    --color_cta
  );
  --recurring-frequency__button_border-color_checked: var(
    --color_cta
  );

  // TYPOGRAPHY GIVING AMOUNT BUTTON
  --donation-amount__button_font-family: var(
    --button_font-family
  );
  --donation-amount__button_color: var(
    --button_color
  );
  --donation-amount__button_font-size: var(
    --button_font-size
  );
  --donation-amount__button_font-weight: var(
    --button_font-weight
  );
  --donation-amount__button_line-height: var(
    --button_line-height
  );
  --donation-amount__button_background-color: var(
    --button_background-color
  );
  --donation-amount__button_border-width: var(
    --button_border-width
  );
  --donation-amount__button_border-color: var(
    --button_border-color
  );
  --donation-amount__button_border-radius: var(
    --button_border-radius
  );

  // TYPOGRAPHY GIVING AMOUNT BUTTON:HOVER
  --donation-amount__button_color_hover: var(
    --button_color_hover
  );
  --donation-amount__button_background-color_hover: var(
    --button_background-color_hover
  );
  --donation-amount__button_border-color_hover: var(
    --button_border-color_hover
  );

  // TYPOGRAPHY GIVING AMOUNT BUTTON:CHECKED
  --donation-amount__button_color_checked: var(--color_white);
  --donation-amount__button_background-color_checked: var(
    --button_color
  );
  --donation-amount__button_border-color_checked: var(
    --button_color
  );

  // TYPOGRAPHY GIVE BY SELECT BUTTON
  --give-by-select__button_font-family: var(
    --button_font-family
  );
  --give-by-select__button_color: var(
    --button_color
  );
  --give-by-select__button_font-size: var(
    --button_font-size
  );
  --give-by-select__button_font-weight: var(
    --button_font-weight
  );
  --give-by-select__button_line-height: var(
    --button_line-height
  );
  --give-by-select__button_background-color: var(
    --button_background-color
  );
  --give-by-select__button_border-width: var(
    --button_border-width
  );
  --give-by-select__button_border-color: var(
    --button_border-color
  );
  --give-by-select__button_border-radius: var(
    --button_border-radius
  );

  // TYPOGRAPHY GIVE BY SELECT BUTTON:HOVER
  --give-by-select__button_color_hover: var(
    --button_color_hover
  );
  --give-by-select__button_background-color_hover: var(
    --button_background-color_hover
  );
  --give-by-select__button_border-color_hover: var(
    --button_border-color_hover
  );

  // TYPOGRAPHY GIVE BY SELECT BUTTON:CHECKED
  --give-by-select__button_color_checked: var(--color_white);
  --give-by-select__button_background-color_checked: var(
    --button_color
  );
  --give-by-select__button_border-color_checked: var(
    --button_color
  );

  // TYPOGRAPHY SUBMIT BUTTON
  --submit__button_font-size: 22px;
  --submit__button_padding-top: 1.5ch;
  --submit__button_padding-bottom: 1.5ch;

  // TYPOGRAPHY A
  --a_font-family: var(
    --headline-font-family
  );
  --a_color: initial;
  --a_text-decoration: initial;

  // TYPOGRAPHY A:FOCUS
  // TYPOGRAPHY A:HOVER
  --a_color_checked: var(--a_color);
  --a_text-decoration_checked: initial;

  // CTA COLORS
  --color_cta: #ffff00;
  --color_cta_hover: #ffff00;

  // ENGRID SECTIONS BACKGROUND COLOR
  // QUICK SETTINGS
  --engrid__page_background-color: var(--color_transparent);
  --engrid__content_background-color: var(--color_transparent);
  --engrid__body_background-color: var(--color_white);
  // DETAIL SETTINGS
  --engrid__page-alert_background-color: var(--engrid__page_background-color);
  --engrid__content-header_background-color: var(--color_white);
  --engrid__body-headerOutside_background-color: var(--color_transparent);
  --engrid__body-header_background-color: var(--color_primary);
  --engrid__body-title_background-color: var(--engrid__body_background-color);
  --engrid__body-banner_background-color: var(--engrid__body_background-color);
  --engrid__body-bannerOverlay_background-color: var(--color_transparent);
  --engrid__body-top_background-color: var(--engrid__body_background-color);
  --engrid__body-side_background-color: var(--engrid__body_background-color);
  --engrid__body-main_background-color: var(--engrid__body_background-color);
  --engrid__body-bottom_background-color: var(--engrid__body_background-color);
  --engrid__body-footer_background-color: var(--engrid__body_background-color);
  --engrid__body-footerOutside_background-color: var(--color_transparent);
  --engrid__content-footerSpacer_background-color: var(
    --engrid__content_background-color
  );
  --engrid__content-preFooter_background-color: var(
    --engrid__content_background-color
  );
  --engrid__content-footer_background-color: var(--color_white);
  --engrid__page-backgroundImage_background-color: --color_light-gray;
  --engrid__page-backgroundImageOverlay_background-color: var(
    --color_transparent
  );
  --engrid__page-customCode_background-color: var(--engrid__page_background-color);

  // ENGRID SECTIONS PADDING
  // QUICK SETTINGS
  --engrid__page_padding: 0px;
  --engrid__content_padding: 0px;
  --engrid__body_padding: 0px 60px;
  // DETAIL SETTINGS
  --engrid__page-alert_padding: var(--engrid__page_padding);
  --engrid__content-header_padding: var(--engrid__content_padding);
  --engrid__body-headerOutside_padding: var(--engrid__body_padding);
  --engrid__body-header_padding: var(--engrid__body_padding);
  --engrid__body-title_padding: var(--engrid__body_padding);
  --engrid__body-banner_padding: 0px;
  --engrid__body-bannerOverlay_padding: var(--engrid__body_padding);
  --engrid__body-top_padding: var(--engrid__body_padding);
  --engrid__body-side_padding: var(--engrid__body_padding);
  --engrid__body-main_padding: var(--engrid__body_padding);
  --engrid__body-bottom_padding: var(--engrid__body_padding);
  --engrid__body-footer_padding: var(--engrid__body_padding);
  --engrid__body-footerOutside_padding: var(--engrid__body_padding);
  --engrid__content-footerSpacer_padding: var(--engrid__content_padding);
  --engrid__content-preFooter_padding: var(--engrid__content_padding);
  --engrid__content-footer_padding: var(--engrid__content_padding);
  --engrid__page-backgroundImage_padding: 0px;
  --engrid__page-backgroundImageOverlay_padding: var(--engrid__page_padding);
  --engrid__page-customCode_padding: var(--engrid__page_padding);

  // ENGRID SECTIONS MARGIN
  // QUICK SETTINGS
  --engrid__page_margin: 0px;
  --engrid__content_margin: 0px;
  --engrid__body_margin: 0px;
  // DETAIL SETTINGS
  --engrid__page-alert_margin: var(--engrid__page_margin);
  --engrid__content-header_margin: var(--engrid__content_margin);
  --engrid__body-headerOutside_margin: var(--engrid__body_margin);
  --engrid__body-header_margin: var(--engrid__body_margin);
  --engrid__body-title_margin: var(--engrid__body_margin);
  --engrid__body-banner_margin: var(--engrid__body_margin);
  --engrid__body-bannerOverlay_margin: var(--engrid__body_margin);
  --engrid__body-top_margin: var(--engrid__body_margin);
  --engrid__body-side_margin: var(--engrid__body_margin);
  --engrid__body-main_margin: var(--engrid__body_margin);
  --engrid__body-bottom_margin: var(--engrid__body_margin);
  --engrid__body-footer_margin: var(--engrid__body_margin);
  --engrid__body-footerOutside_margin: var(--engrid__body_margin);
  --engrid__content-footerSpacer_margin: var(--engrid__content_margin);
  --engrid__content-preFooter_margin: var(--engrid__content_margin);
  --engrid__content-footer_margin: var(--engrid__content_margin);
  --engrid__page-backgroundImage_margin: var(--engrid__page_margin);
  --engrid__page-backgroundImageOverlay_margin: var(--engrid__page_margin);
  --engrid__page-customCode_margin: var(--engrid__page_margin);

  // LAZY LOADED BANNER IMAGE PLACEHOLDER COLOR
  --engrid__body-banner_image-background-color: --color_light-gray;

  // BODY BORDER RADIUS
  // @TODO This doesn't do anything at the moment
  --engrid__body_border-radius: 0px;

  // ENGRID BACKGROUND IMAGE SECTION'S BACKGROUND PATTERN
  // This is a background pattern that is shown before the hi-resolution background image is lazy loaded in, if at all
  // It's background color "--engrid__page-backgroundImage_background-color" should be the average color of the image
  // REF: (https://doodad.dev/pattern-generator/)
  --engrid__page-backgroundImage_background-pattern: "url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7)"; // Invisible GIF

  // REF: http://www.standardista.com/px-to-rem-conversion-if-root-font-size-is-16px/
  --root_font-size: 18px; // Sets a baseline font size for all other REM based font-sizes to relatively build off of

  --engrid__page-backgroundImage_url: "url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7)"; // Invisible GIF

  // @TODO Revisit these spacing values and calculations
  // @BODY Look into replicating "Teach a System of Space Visually" as a Development page that shows all styling decisions for the brand https://medium.com/eightshapes-llc/space-in-design-systems-188bcbae0d62#.fwng4aef7
  --spacing_sm: 0.8652rem;
  --spacing: calc(0.8652rem * 0.75);
  --spacing_lg: calc(0.8652rem * 2.5);
  --spacing_xlg: calc(0.8652rem * 5);

  // ERRORS
  --error__color: var(--error);
  --error__color-grayscale: #949494;
  --error__color-faded: #ffeae9;
  --error__background-color: #ffeae9;
  --error__border-width: var(--input_border-width);

  // HIGHLIGHTS
  --highlight__background-color: var(--color_primary);
  --highlight__color: #252525;

  // CLICK TO EXPAND
  --click-to-expand__copy-area_height: 400px;
  --click-to-expand__cta-image_url: url("https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/1839/more-btn.png?v=1614773932000");
  --click-to-expand__cta-image_width: 56px;
  --click-to-expand__cta-image_height: 15px;

  // LABEL APPENDED TO DONTIONAL GIVING AMOUNTS BASED ON GIVING FREQUENCY
  --give-monthly-donation-amount-appended-label: " Monthly";
  --give-annual-donation-amount-appended-label: " Annually";

  // IMAGE ATTRIBUTION OVERLAY
  --media-attribution__font-family: var(
    --default_font-family
  );
  --media-attribution__color: #ffffff;
  --media-attribution__text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
  --media-attribution__font-size: 12px;
  --media-attribution__font-style: normal;
  --media-attribution__font-weight: 700;
  --media-attribution__text-transform: uppercase;
  --media-attribution__margin: 1.25ch 0 0 1.5ch;
  --media-attribution__padding: 1ch 1.25ch 0.5ch 1.25ch;
  --media-attribution__background-color: rgba(0, 0, 0, 0.25);

  // ADD THEME CUSTOM CSS PROPERTIES HERE
  // TYPOGRAPHY HEADLINE
  --font-stack-aiusa: "AmnestyTradeGothic",
    var(--native-fonts__sans-serif);
  --font-stack-aiusa-bold-condensed: "AmnestyTradeGothicBdCn",
    var(--native-fonts__sans-serif);
  --headline-font-family: var(--font-stack-aiusa);
  --headline-font-weight: 700;
}



/* Add your custom theme styles here */

/*
* ##########################################################
* # START AIUSA ENGRID CUSTOM THEME
* ##########################################################
*/
[data-engrid-theme="aiusa"] {
  min-width: 100%;
  /*
* ##########################################################
* # GENERAL STYLES
* ##########################################################
*/

  /* All headlines, labels, abd button text within the body are capitalized */
  [class*="body-"] {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    label,
    button,
    .button {
      text-transform: uppercase;
    }
  }

  h1 {
    margin-bottom: 0px;
  }

  #designed-by-4site-wrapper {
    flex-basis: 100%;
    text-align: center;
    display: none;
  }

  .en__field__item {
    label {
      font-size: 1.2rem;
    }
  }

  .sms-disclaimer > p:first-child {
    margin-top: 0;
  }

  .sms-disclaimer > p,
  .sms-disclaimer > p > a {
    font-style: italic;
    font-size: 0.75rem;
    line-height: 1rem;
    font-family: var(--native-fonts__sans-serif);
  }

  .en__field.en__field--checkbox > label {
    display: none;
  }

  // .en__contacts:not(.en__contacts--hideCheck) .en__contactDetails__rows {
  //   margin-left: 41px;
  //   width: 100%;
  // }

  // .en__contactDetails__rows {
  //   margin-left: calc(var(--checkbox_width) + 0.5rem);
  // }
  

  .en__field__input--checkbox + .en__field__label:before {
    font-size: .99936rem;
  }

  .en__component--contactblock
    .en__contacts:not(.en__contacts--hideCheck)
    .en__contactDetails__rows:before {
    top: 5px;
    left: 0px;
  }

  .en__field__input--checkbox:checked + .en__field__label:before,
  .en__component--contactblock .en__contactDetails__rows:before {
    box-shadow: none !important;
  }

  .en__field__input--checkbox:checked + .en__field__label::after {
    left: 5px !important;
    top: 6px !important;
    font-size: 1.2rem !important;
    font-weight: 700;
  }

  .en__contacts:not(.en__contacts--hideCheck) .en__contactDetails__select:checked+.en__contactDetails__rows:after {
    left: 7px;
    top: 7px;
  }

  .en__contactDetail {
    font-size: 14px;
  }
  .en__contact .en__contact__toggle {
    display: none;
  }

  input.en__field__input--checkbox:checked + label,
  input.en__field__input--checkbox + label {
    font-weight: 500;
    font-family: var(--default_font-family);
    text-transform: none;
    border: 0px;
    // padding: 3px 10px 0;
    font-size: 0.75rem;
    line-height: 1rem;
    text-align: left;
    justify-content: flex-start;
    display: inline-flex;
    align-items: center;
    min-height: var(--checkbox_height);
    // padding: 0 0 0 42px;
    margin-left: 0px;
  }
  input[name="en__pg"] {
    appearance: none;
    border: 2px solid var(--color_black);
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background: var(--color_white);
    &:checked {
      border: 4px double var(--color_white);
      background: var(--color_black);
    }
    &:hover {
      border-color: var(--color_dark-gray);
    }
  }

  // .en__twitterTarget__image {
  //   width: 50px;
  // }

  .en__contacts--singleTweetMode .en__twitterTarget__select{
    flex-basis: 2rem;
  }

  .en__tweetButton__send a {
    background-color: #ffff00;
    padding: 12px 15px;
    color: #252525;
    min-width: 100px;
    text-transform: uppercase;
  }

  .en__tweetButton__sent a {
    background-color: rgb(37, 37, 37);
    padding: 12px 15px;
    color: #ffffff;
    min-width: 100px;
    text-transform: uppercase;
  }

  // .en__field--radio label.en__field__label.en__field__label--item {
  //   padding: 12px 5px;
  //   width: 100%;
  //   text-transform: uppercase;
  //   font-family: var(--font-stack-aiusa-bold-condensed);
  //   justify-content: center;
  //   display: inline-block;
  //   text-align: center;
  // }
  .en__field--radio.en__field--survey
    label.en__field__label.en__field__label--item {
    text-align: left;
  }

  select {
    background-image: url("https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/1839/caret.png?v=1614604340000");
    background-size: 10px 7px;
  }

  .en__field__input--splitselect {
    min-height: 41.78px;
  }

  // .en__component--formblock {
  //   label {
  //     font-weight: 700;
  //   }
  // }

  .en__submit button {
    font-family: var(--font-stack-aiusa-bold-condensed);
    font-weight: 700;
    line-height: 1;
  }

  // @TODO These button styles should be handled more holistically upstream in ENGRID-SCRIPTS with Custom CSS Properties
  .en__submit button,
  .en__submit button:hover {
    background-color: var(--color_primary);
    border-color: var(--color_primary);
    color: #252525;
  }

  input::placeholder {
    color: var(--input_placeholder-color);
  }

  h2.section-header {
    width: 100%;
    text-align: center;
    font-family: var(--font-stack-aiusa-bold-condensed);
    font-weight: 700;
    position: relative;
    letter-spacing: 1.25px;
    font-size: 1rem;
    overflow: hidden;
    margin: 10px 0 20px;
    &:before,
    &:after {
      position: absolute;
      top: 51%;
      width: 45%;
      overflow: hidden;
      height: 2px;
      content: "\a0";
      background-color: #e4e4e4;
    }
    &:before {
      margin-left: -50%;
      text-align: right;
    }
    &:after {
      width: 40%;
      margin-left: 5%;
    }
  }

  .en__ecarditems__button {
    background: var(--color_primary);
    color: var(--color_black);
  }

  .en__ecardrecipients__email input.invalid,
  .en__ecardrecipients__name input.invalid {
    border-color: var(--error__color);
    background-color: var(--error__color-faded);
    font-family: var(--input_font-family);
    color: var(--input_color);
    font-size: var(--input_font-size);
    font-weight: var(--input_font-weight);
    line-height: var(--input_line-height);
    background-color: var(--input_background-color);
    border-radius: var(--input_border-radius);
    height: auto;
    max-width: 100%;
    width: 100%;
    min-width: 0;
    display: block;
    box-sizing: border-box;
    margin: 0;
    padding: 1ch;
    box-shadow: var(--input_box-shadow);
    transition: box-shadow 0.25s, border-color 0.25s ease-in-out;
    border: var(--input_border-width) solid
      var(--input_border-color);
  }

  figure.media-with-attribution figattribution a {
    font-family: var(--font-stack-aiusa-bold-condensed);
  }
  
  &[data-engrid-transaction-recurring-frequency="annual"] .radio-to-buttons_donationAmt .en__field--donationAmt > .en__field__element > .en__field__item:not(.en__field__item--other) label{
      flex-direction: column;
  }

  &[data-engrid-transaction-recurring-frequency="annual"] .radio-to-buttons_donationAmt .en__field--donationAmt > .en__field__element > .en__field__item:not(.en__field__item--other) .en__field__label--item:after{
    margin-left: 0;
  }

  /*
* ##########################################################
* # MAIN MENU WITH FLYOUT
* ##########################################################
*/
  #menu-wrapper {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;

    /* Menu copied from: https://www.w3.org/TR/wai-aria-practices-1.2/examples/menubar/menubar-1/menubar-1.html# */
    ul[role="menubar"] {
      text-transform: uppercase;
      font-weight: 700;
      // margin: 10px;
      // padding: 1rem;
      padding-right: 20px;
      // font-size: 110%;
      list-style: none;
      // background-color: #eee;
      display: inline-block;
    }

    ul[role="menubar"] [role="menuitem"],
    ul[role="menubar"] [role="separator"] {
      // padding: 0.25em;
      // background-color: #eee;
      // border: 2px solid #eee;
    }

    // ul[role="menubar"] [role="separator"] {
    //   padding-top: 0.15em;
    //   background-image: url('https://www.w3.org/TR/wai-aria-practices-1.2/examples/menubar/menubar-1/images/separator.png');
    //   background-position: center;
    //   background-repeat: repeat-x;
    // }

    //       &:hover {
    //         text-decoration: underline solid black 2px;
    //         background-color: var(--color_primary);

    ul[role="menubar"] [role="menu"] [role="menuitem"]:focus,
    ul[role="menubar"] [role="menu"] [role="menuitem"]:hover,
    ul[role="menubar"] [role="menu"] [role="separator"]:focus,
    ul[role="menubar"] [role="menu"] [role="separator"]:hover {
      // background-color: black;
      // color: white;
      text-decoration: underline solid black 2px;
      background-color: var(--color_primary);
      display: inline-block;
      // outline-offset: 3px;
    }

    ul[role="menubar"] a[role="menuitem"] {
      text-decoration: none;
      color: black;
      font-family: var(--font-stack-aiusa-bold-condensed);
    }

    ul[role="menubar"] li {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    ul[role="menubar"] > li {
      display: inline;
      position: relative;
    }

    ul[role="menubar"] > li > a {
    }

    // ul[role="menubar"] > li > a::before {
    //   content: url('https://www.w3.org/TR/wai-aria-practices-1.2/examples/menubar/menubar-1/images/down-arrow-brown.png');
    // }

    ul[role="menubar"] > li > [role="menuitem"] {
      padding-top: 8px;
      padding-bottom: 8px;
      padding-left: 16px;
      padding-right: 8px;
    }

    ul[role="menubar"] ul[role="menu"] {
      display: none;
      position: absolute;
      top: 50px;
      left: -33px;
      margin: 0;
      padding: 0;
      background-color: var(--color_white);
      box-shadow: -3px 8px 8px rgba(0, 0, 0, 0.04%);
      padding-right: 21px;
      padding-bottom: 56px;
      padding-left: 71px;
    }

    ul[role="menubar"] ul[role="menu"] [role="menuitem"] {
      padding-top: 8px;
      padding-bottom: 2px;
      margin-bottom: 8px;
    }

    ul[role="menubar"] ul[role="menu"] li a {
      display: inline-block;
      word-break: normal;
      white-space: nowrap;
      margin: 0;
    }

    .hamburger-wrapper {
      position: relative;
      left: -0.5rem;
      top: 1px;
      width: 16px;
      height: 16px;
      cursor: pointer;
      display: inline-block;
    }

    .hamburger {
      top: 50%;
      left: 10%;
      width: 16px;
      height: 2px;
      background: #252525;
      position: absolute;
      transition: 0.3s;
    }

    .hamburger:before,
    .hamburger:after {
      content: "";
      position: absolute;
      width: 16px;
      height: 2px;
      background: #252525;
      transition: 0.3s;
    }

    .hamburger:before {
      top: -5px;
    }

    .hamburger:after {
      top: 5px;
    }

    [aria-expanded="true"] .hamburger-wrapper .hamburger {
      background: rgba(0, 0, 0, 0);
    }

    [aria-expanded="true"] .hamburger-wrapper .hamburger:before {
      top: 0;
      transform: rotate(45deg);
    }

    [aria-expanded="true"] .hamburger-wrapper .hamburger:after {
      top: 0;
      transform: rotate(135deg);
    }

    // ul[role="menubar"] ul[role="menu"] a[aria-haspopup="true"]::after {
    //   content: url('https://www.w3.org/TR/wai-aria-practices-1.2/examples/menubar/menubar-1/images/right-arrow-brown.png');
    //   padding-right: 2em;
    // }
  }

/*
* ##########################################################
* # CONTENT HEADER
* ##########################################################
*/

  .content-header {

    // &.pseudo-subgrid > div{
    //   grid-column: pc;
    // }

    header {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    #social-proof-wrapper {
      flex: 4;
      padding: 0 24px;

      p {
        margin: 0px;
        line-height: 1rem;
        font-size: 0.95rem;
        font-weight: 400;
        &:first-child {
          margin-bottom: 5px;
        }
        strong {
          font-family: var(--default_font-family);
          font-weight: 700;
          font-size: 1rem;
          // font-family: var(--donation-amount__button_font-family);
          // letter-spacing: 0.01rem;
        }
      }
    }
  }

/*
* ##########################################################
* # CONTENT FOOTER
* ##########################################################
*/

.content-footer {

  // &.pseudo-subgrid > div{
  //   grid-column: pc;
  // }

}

/*
* ##########################################################
* # MIXING: MOBILE SMALL
* ##########################################################
*/

// On small screens we need to stack the header and menu
@mixin until-mobile {
  .content-header {
    header {
      flex-direction: column;
    }

    #header-logo {
      width: 100vw;
      display: block;
      background: #ffff00;
    }

    #main-menu {
      padding-right: 0;
    }

    #menu-wrapper ul[role="menubar"] ul[role="menu"] {
      padding: 10px 33px 35px 35px;
      top: 40px !important;
      right: -40vw !important;
      left: -35vw !important;

      li {
        text-align: center;
      }
    }
  }
}

  /*
* ##########################################################
* # BODY HEADER
* ##########################################################
*/

  .body-header {
    padding-left: 0;
    padding-right: 0;
  }

  /*
* ##########################################################
* # BODY TITLE
* ##########################################################
*/

  .body-title:not(:empty) {
    padding-top: 36px;
    padding-bottom: 1rem;

    // Let it butt right up against the top of the section
    & > div:first-of-type > :first-child {
      margin-top: 0px;
      padding-top: 0px;
    }

    // Let the second to last element determine the spacing between it and the last element
    // Let the parent section determin the spacing between the last element and the next section
    & > div:last-of-type > :last-child {
      margin-top: 0;
      padding-top: 0;
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }

  /*
* ##########################################################
* # BODY TOP
* ##########################################################
*/
  .body-top {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    > .en__component--copyblock {
      &:first-child {
        > *:first-child {
          margin-top: 0;
        }
      }
      &:last-child {
        > *:last-child {
          margin-bottom: 0;
        }
      }
    }

    // If the first child is a paragraph or click-to-expand block, add top margin like it was a H1
    & > p:first-child,
    & > .click-to-expand-text-wrapper:first-child {
      margin-top: 0.67rem;
    }

    h1 {
      font-size: 2.5rem;
      line-height: 3.1rem;
      // margin-bottom: 0;
    }
  }

  /*
* ##########################################################
* # BODY MAIN
* ##########################################################
*/

  // Sometimes there is not form on the page and this section is empty (e.g Thank You Page).
  .body-main:not(:empty) {
    padding-top: 24px;

    // Let it butt right up against the top of the section
    & > div:first-of-type > :first-child {
      margin-top: 0;
      padding-top: 0;
    }

    // Let the second to last element determine the spacing between it and the last element
    // Let the parent section determin the spacing between the last element and the next section
    & > div:last-of-type > :last-child {
      margin-top: 0;
      padding-top: 0;
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }

  /*
* ##########################################################
* # FOOTER
* ##########################################################
*/
  footer {
    display: flex;
    align-items: center;
    ul {
      list-style: none;
      padding: 0;
      display: flex;
    }
    #footer-menu {
      margin: 0 0 0 50px;
      li {
        padding-right: 15px;
        margin-right: 15px;
        border-right: 1px solid black;
        font-size: 0.9rem;
        letter-spacing: 0.1ch;
        &:nth-child(3) {
          border-right: 0px;
        }
        a {
          font-weight: 400;
          font-family: var(--default_font-family);
        }
      }
    }
    #footer-social-wrapper {
      flex: 1;
      ul {
        justify-content: flex-end;
        margin: 0px;
        li {
          margin: 0 9px;
        }
      }
      img {
        width: auto;
        height: 20px;
      }
    }
  }

  /*
* ##########################################################
* # OUTLINE COLOR FOR FOCUS STATE
* ##########################################################
*/

  *:focus {
    outline-color: initial;
  }

  input:focus,
  select:focus,
  textarea:focus {
    outline-width: 0px;
  }

  .en__field__element--checkbox input:focus + label {
    outline-color: black;
  }

  .en__field__element--radio input:focus + label,
  button:focus {
    outline-color: black;
  }

/*
* ##########################################################
* # DONATION UPSELL LIGHTBOX
* ##########################################################
*/

// Remove bottom margin and fixed height (this reduces 32px in total height)
#goMonthly #upsellNoButton button{
  margin-bottom: 0;
  height: auto;
}


  /*
* ##########################################################
* # EN WIDGET: PROGRESS BAR (AKA THERMOMETER)
* ##########################################################
*/

  // Needed for local development where the thermometer markup has to be hard coded and creates a vestigial empty div
  .enWidget:empty {
    display: none;
  }

  .enWidget--progressBar {
    padding: 20px 0;

    .enWidget__progress {
      border: 0px !important; // !important required
      background: rgba(228, 228, 228, 0.36) !important; // !important required
      height: 24px !important; // !important required
      overflow: inherit;

      .enWidget__fill {
        background-color: var(--color_primary) !important; // !important required
        box-shadow: inset -13px 0px 0px 0px rgba(255, 255, 255, 1);
        &::before {
          content: " ";
          display: block;
          width: 3px;
          height: calc(100% + 6px);
          position: absolute;
          right: 0;
          top: -3px;
          background-color: #252525;
        }
        &::after {
          content: " ";
          display: block;
          width: 10px;
          height: 100%;
          position: absolute;
          right: -10px;
          top: 0px;
          background-color: #ffffff;
        }
        span {
          display: none;
        }
      }
    }

    .enWidget__copy--below {
      margin-top: 10px;
      text-align: center;
      font-weight: 700;

      p {
        margin: 0;
        text-transform: uppercase;
        &:nth-child(1) {
          font-size: 1.8rem;
          line-height: 1.8rem;
        }
      }
    }
  }

  /*
* ##########################################################
* # DONATION: AMOUNT AND FREQUENCY FIELDS
* ##########################################################
*/

  .en__field--recurrfreq {

    .en__field__item{
      flex-grow: 1;
    }

    .en__field__item input:checked + label {
      background-color: var(--button_background-color);
      color: var(--button_color);
      border-color: var(--button_border-color);
      &:hover {
        color: var(--button_color);
      }
    }
  }

  .en__field--donationAmt .en__field__item--other{
    flex-grow: 1;
  }

  .en__field--donationAmt h2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .en__component.en__component--copyblock.recurring-frequency-y-hide.inline-monthly-upsell {
    position: relative;
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 1rem;
    text-align: center;
    p {
      margin: 20px 0 0;
      font-size: 1rem;
      line-height: 1.25rem;
      font-weight: 700;
      font-family: var(--font-stack-aiusa-bold-condensed);
    }
    &::before {
      content: "";
      background-image: url("https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/1839/upsell_arrow.png?v=1614603925000");
      width: 26px;
      height: 15.5px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      left: calc(50% - 13px);
    }
  }

  // .en__field--donationAmt div.en__field__item:not(.en__field__item--other) {
  //   flex-basis: calc((100% / 3) - 1rem);
  //   max-width: calc(100% / 3);
  //   .en__field__label--item {
  //     width: 100%;
  //     &::after {
  //       text-transform: uppercase;
  //       font-size: 100%;
  //       opacity: 1;
  //       line-height: inherit;
  //     }
  //   }
  // }

  // .en__field--donationAmt div.en__field__item.en__field__item--other {
  //   flex-basis: calc((100% * (2 / 3)) - 1rem);
  //   max-width: calc(100% * (2 / 3));
  //   input {
  //     padding-left: 1.75rem;
  //     border-color: var(--input_background-color);
  //     padding-top: 12px;
  //     padding-bottom: 12px;
  //     outline-width: 0;

  //     &:hover,
  //     &:focus::after {
  //       border-bottom-color: var(
  //         --input_border-bottom-color_checked
  //       );
  //     }
  //   }
  // }

  .en__field--donationAmt .en__field__item--other{
    position: relative;

  }

  .en__field--donationAmt .en__field__item--other input{
    padding-left: 2.5ch;
  }

  .en__field--donationAmt .en__field__item--other::before {
    display: block;
    content: "$";
    position: absolute;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 700;
    line-height: 0;
    height: 0;
    left: 2.25ch;
    top: 50%;
  }

  // .en__field--recurrfreq {
  //   padding-right: 0;
  //   .en__field__item {
  //     flex-basis: calc(100% / 3);
  //     min-width: 12ch;
  //     // margin-right: 0px;
  //   }
  // }

  /*
* ##########################################################
* # GENERAL: Inline Label Tooltip
* ##########################################################
*/

  label a.label-tooltip {
    text-transform: none;
    position: absolute;
    right: 0;
    text-decoration: underline;
    color: #767676;
    font-weight: 400;
  }

  /*
* ##########################################################
* # DONATION: PAYMENT FIELDS
* ##########################################################
*/

  .card,
  .check,
  .paypal {
    flex-basis: calc(100% / 3);
    min-width: 12ch;
  }

  // Makes the paypal logo white and selection
  .give-by-select.en__field--radio
    .paypal.en__field__item
    input[type="radio"]:checked
    + label
    span {
    filter: invert(100%);
  }

  .en__field__item.paypal label {
    span {
      display: inline-block;
      height: 16px;
      width: 16px;
      background-image: url("https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/1839/paypal.png?v=1614704461000");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      position: relative;
      margin-right: 7px;
      top: 1px;
    }
  }

  /*
* ##########################################################
* # DONATION: TRUSTED LOGOS
* ##########################################################
*/

  .trust-logos {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    img.bbb-logo {
      margin-right: 10px;
      filter: grayscale(1) opacity(0.5);
    }

    .gs.bbb-logo {
      margin-right: 10px;
    }

    img.verisign-logo {
      margin-right: 0px;
    }
  }

  /*
* ##########################################################
* # PREMIUM GIFT
* ##########################################################
*/

  .en__component.en__component--premiumgiftblock {
    background-color: #f6f4f5;
    border: 0px;
    .en__pgHeader {
      display: none;
    }
    .en__pgList {
      .en__pg:nth-child(2) {
        display: none;
      }
      .en__pg_select {
        input {
          display: none;
        }
      }
      .en__pg--selected {
        border-bottom: 0px;
        margin-bottom: 40px;
        .en__pg__image--selected {
          outline-color: transparent;
        }
        .en__pg__detail {
          .en__pg__name {
            font-weight: 700;
            text-transform: none;
          }
        }
      }
    }
  }

/*
* ##########################################################
* # E-Card
* ##########################################################
*/

  .en__component--ecardblock {
    h2 {
      font-weight: 700;
    }
    .en__ecardrecipients__email input,
    .en__ecardrecipients__name input {
      width: 100%;
    }
    textarea:hover {
      border-color: var(--highlight__color);
    }
  }

  /*
* ##########################################################
* # LAYOUT MOBILE STYLINGS
* ##########################################################
*/
  @mixin until-mobile-l {
    // Let the radio buttons expand to take up their full row
    .en__field--recurrfreq .en__field__element--radio,
    .give-by-select .en__field__element--radio {
      flex-direction: column;
      flex-wrap: nowrap;

      > * {
        width: 100%;
      }
    }

    .desktop-only {
      display: none;
    }
    .mobile-only {
      display: inline-block;
    }

    header {
      background-color: yellow;
    }

    // Hide the arrow on mobile
    .inline-monthly-upsell:before {
      display: none;
    }

    .en__field,
    .en__submit {
      flex-basis: 100%;
      padding-left: 0px;
      padding-right: 0px;
    }
    
    textarea.en__field {
      padding-left: 1ch;
      padding-right: 1ch;
    }

    .en__field--ccexpire{
      // left: -0.5rem;
      // right: -0.5rem;
      // min-width: calc(100% + 1rem);
      left: 0;
      right: 0;
    }


    #menu-wrapper ul[role="menubar"] ul[role="menu"] {
      padding-right: 28px;
      text-align: right;
      top: 50px;
      left: -80vw;
      right: -5vw;
    }
  }

  @mixin from-mobile-l {
    .mobile-only {
      display: none;
    }
    .desktop-only {
      display: inline-block;
    }
  }

  @mixin simplified-content-header {
    #social-proof-wrapper {
      display: none;
    }
  }

  // Footer Styles
  @mixin simplified-content-footer {
    // Adjust donation amount fields to display two to a Row
    .en__field--donationAmt div.en__field__item:not(.en__field__item--other) {
      // flex-basis: calc((100% * (1 / 2)) - 1rem);
      // max-width: calc(100% * (1 / 2));
      --donation-amount__button_count: 2;
    }

    .content-footer {
      --engrid__content-footer_background-color: #e4e4e4;

      footer {
        flex-direction: column;
        padding-top: 32px;
        #footer-menu-wrapper {
          order: 2;
          // letter-spacing: 0.1ch;
          margin-bottom: 26px;
          ul#footer-menu {
            justify-content: center;
            flex-wrap: wrap;
            margin: 0 auto;
            li {
              margin: 5px 10px;
              &:nth-child(2) {
                border-right: 0px;
              }
              &:nth-child(3) {
                width: 100%;
                text-align: center;
              }
            }
          }
        }

        #footer-social-wrapper {
          order: 1;
          margin-bottom: 24px;
          ul {
            justify-content: center;
          }
        }

        #footer-logo-wrapper {
          display: none;
        }
      }
    }
  }

  @mixin simplified-page-backgroundImage {
    .page-backgroundImage {
      display: none;
    }
  }

  // Universal stylings
  &[data-engrid-layout] {
    // @media screen and (max-width: 339px) {
    @include mq($until: mobile){
      @include until-mobile;
    }

    // @media screen and (max-width: 439px) {
    @include mq($until: mobile-l){
      @include until-mobile-l;
    }

    // @media screen and (min-width: 440px) {
    @include mq($from: mobile-l){
      @include from-mobile-l;
    }
  }

  &[data-engrid-layout="centerleft1col"]{
    @media screen and (max-width: $centerleft1col_content-column_min-width) {
      @include simplified-content-header;
      @include simplified-content-footer;
      @include simplified-page-backgroundImage;
    }
  }

  &[data-engrid-layout="centercenter1col"]{
    @media screen and (max-width: $centercenter1col_content-column_min-width) {
      @include simplified-content-header;
      @include simplified-content-footer;
      @include simplified-page-backgroundImage;
    }
  }

  &[data-engrid-layout="centerright1col"]{
    @media screen and (max-width: $centerright1col_content-column_min-width) {
      @include simplified-content-header;
      @include simplified-content-footer;
      @include simplified-page-backgroundImage;
    }
  }

  &[data-engrid-layout="leftleft1col"]{
    @media screen and (max-width: $leftleft1col_content-column_min-width) {
      @include simplified-content-header;
      @include simplified-content-footer;
      @include simplified-page-backgroundImage;
    }
  }

  &[data-engrid-layout="rightright1col"]{
    @media screen and (max-width: $rightright1col_content-column_min-width) {
      @include simplified-content-header;
      @include simplified-content-footer;
      @include simplified-page-backgroundImage;
    }
  }

  &[data-engrid-layout="centercenter2col"] {
    @media screen and (max-width: $centercenter2col_content-column_min-width) {
      @include simplified-content-header;
      @include simplified-content-footer;
      @include simplified-page-backgroundImage;
    }
  }
  .en__contact--closed .en__contactSubject,
  .en__contact--closed .en__contactMessage {
    display: block;
    height: auto;
    padding-top: 10px;
  }
  .en__contact {
    margin-bottom: 25px;
  }
  .en__contact__detail {
    .en__contactSubject::before,
    .en__contactMessage::before {
      word-break: break-word;
      box-sizing: border-box;
      touch-action: manipulation;
      font-family: var(--label-font-family);
      color: var(--label-color);
      font-size: var(--label-font-size);
      line-height: var(--label-line-height);
      vertical-align: middle;
      display: inline-block;
      width: auto;
      padding: 0.375rem 0;
      text-transform: uppercase;
      font-weight: 700;
    }
    .en__contactSubject {
      font-weight: 700;
      &::before {
        content: "Subject Line";
      }
    }
    .en__contactMessage {
      .en__contactMessage__plainText {
        font-size: 16px;
        height: 250px;
        padding: 12px;
      }
      &::before {
        content: "Your Message";
      }
    }
  }


/*
* ##########################################################
* # Survey
* ##########################################################
*/

  .en__field--withOther.en__field--survey .en__field__item--other {
    margin-left: 15px;
  }

  .en__field--survey {

    /* Style survey question field labels like <h4> tags */
    &.en__field > label{
      font-size: calc(var(--h3_font-size)*var(--scale-down_20pct));
      margin-top: calc(2rem*var(--scale-down_80pct));
      margin-bottom: calc(1rem*var(--scale-down_80pct));
      font-family: var(--h3_font-family);
      color: var(--h3_color);
      font-weight: var(--h3_font-weight);
      line-height: var(--h3_line-height);
    }

    &.en__field.en__field--checkbox > label {
      display: block;
    }

    .en__field__element--checkbox,
    .en__field--checkbox,
    .en__field__element--radio {
      display: block;
      .en__field__item {
        margin: 0;
        margin-bottom: 10px;
        position: relative;
        label {
          tab-size: 4;
          word-break: break-word;
          box-sizing: border-box;
          width: auto;
          vertical-align: top;
          position: relative;
          cursor: pointer;
          // font-weight: 500;
          // font-family: var(--default_font-family);
          text-transform: none;
          border: 0;
          // font-size: 0.75rem;
          // line-height: 1rem;
          text-align: left;
          justify-content: flex-start;
          display: inline-flex;
          align-items: center;
          min-height: calc(max(var(--checkbox_height), var(--radio_height)));
          // padding: 0 0 0 42px;
          margin-left: 0;
          // color: var(--p_color);
        }
      }
    }
    /* Style survey question options labels like <p> tags */
    .en__field__item > label,
    .en__field__item > input.en__field__input--checkbox:checked+label{
      font-family: var(--p_font-family) !important;
      color: var(--p_color);
      font-size: var(--p_font-size);
      font-weight: var(--p_font-weight);
      line-height: var(--p_line-height);
    }

    /* Adjusts the relative position of the checkbox checkmark now that the label is differently sized */
    .en__field__item > input.en__field__input--checkbox:checked+.en__field__label:after{
      top: 0px !important;
    }
  }


  
} // END AIUSA ENGRID CUSTOM THEME

/*
* ##########################################################
* # START AIUSA ENGRID CUSTOM LAYOUTS
* ##########################################################
*/

/*
* ##########################################################
* # ENGRID LAYOUTS
* # GRID COLUMN AND GRID ROW POSITIONING
* ##########################################################
*/

[data-engrid-theme="aiusa"][data-engrid-layout="leftleft1col"] {
  @media screen and (min-width: $leftleft1col_content-column_min-width) {
    .content-header,
    .content-footer {
      grid-column: pc;
    }

    .content-header{
      margin-bottom: 1rem;
    }

    .content-footer{
      margin-top: 1rem;
    }

    .body-backgroundImage,
    .body-backgroundImageOverlay {
      grid-row: page;
    }
  }
}

[data-engrid-theme="aiusa"][data-engrid-layout="rightright1col"] {
  @media screen and (min-width: $rightright1col_content-column_min-width) {
    .content-header,
    .content-footer {
      grid-column: pc;
    }

    .content-header{
      margin-bottom: 1rem;
    }

    .content-footer{
      margin-top: 1rem;
    }

    .body-backgroundImage,
    .body-backgroundImageOverlay {
      grid-row: page;
    }
  }
}
// [data-engrid-layout=centercenter2col] #engrid>.en__component--advrow .body-top
// [data-engrid-layout=centercenter2col] form>.en__component--advrow .body-top
// [data-engrid-theme=aiusa][data-engrid-layout=centercenter2col] .body-top

[data-engrid-theme="aiusa"][data-engrid-layout="centercenter2col"] {
  @media screen and (min-width: $centercenter2col_content-column_min-width) {

    // .body-title {
    //   grid-row: body-header-end / body-title-end;
    // }

    // .body-banner,
    // .body-bannerOverlay {
    //   grid-row: body-title-end / body-banner-end;
    // }
    
    form > .en__component--advrow{
      .body-top {
        grid-row: body-banner-end / body-bottom-end;
      }
    }

    // .body-main {
    //   grid-row: body-header-end / body-bottom-start;
    // }

    // .body-bottom {
    //   grid-row: body-main-end / body-bottom-end;
    // }

    // .body-main{
    //   grid-row: body-header-end / body-main-end;
    // }
  }

  @media screen and (max-width: $centercenter2col_content-column_min-width) {
    --engrid__body_padding: 0px 24px;
  }
}

/*
* ##########################################################
* # ENGRID LAYOUTS
* # SECTION SPACING AND SECTION REMOVAL
* ##########################################################
*/

/*
* ##########################################################
* # HIDE UNUSED SECTIONS
* ##########################################################
*/

.page-alert,
.body-headerOutside,
.body-bannerOverlay,
.body-footerOutside,
.content-preFooter,
.page-backgroundImageOverlay {
  display: none;
}

body#en__pagebuilder .content-footerSpacer {
  display: none;
}

[data-engrid-theme="aiusa"][data-engrid-layout="leftleft1col"],
[data-engrid-theme="aiusa"][data-engrid-layout="centerleft1col"],
[data-engrid-theme="aiusa"][data-engrid-layout="centercenter1col"],
[data-engrid-theme="aiusa"][data-engrid-layout="centerright1col"],
[data-engrid-theme="aiusa"][data-engrid-layout="rightright1col"] {
  --engrid__body_padding: 0px 60px;

  .body-bottom:not(:empty) {
    padding-bottom: 60px;
  }

  @media screen and (max-width: $one_col_content-column_min-width) {
    --engrid__body_padding: 0px 24px;
  }
}

[data-engrid-theme="aiusa"][data-engrid-layout="centerleft1col"],
[data-engrid-theme="aiusa"][data-engrid-layout="centercenter1col"],
[data-engrid-theme="aiusa"][data-engrid-layout="centerright1col"] {
  @media screen and (min-width: $one_col_content-column_min-width) {
    .body-header {
      margin-top: 80px;
    }

    .body-footer {
      margin-bottom: 80px;
    }
  }
}

[data-engrid-theme="aiusa"][data-engrid-layout="centercenter2col"] {
  --engrid__body_padding: 0px 50px;

  .body-main:not(:empty) {
    padding-top: 36px;
  }

  // Remove the box body based shadow, otherwise it will overlap with the side-by-side content
  .body-header:before,
  .body-title:before,
  .body-banner:before,
  .body-top:before,
  .body-side:before,
  .body-main:before,
  .body-bottom:before,
  .body-footer:before {
    display: none;
  }

  .body-bottom:not(:empty) {
    padding-bottom: 60px;
  }

  @media screen and (min-width: $centercenter2col_content-column_min-width) {
    .body-header {
      margin-top: 80px;
    }

    .body-footer {
      margin-bottom: 80px;
    }
  }

  @media screen and (max-width: $centercenter2col_content-column_min-width) {
    --engrid__body_padding: 0px 24px;
  }
}

/*
* ##########################################################
* # ENGRID LAYOUTS
* # SECTION SPECIFIC STYLING
* ##########################################################
*/

[data-engrid-theme="aiusa"][data-engrid-layout="centercenter2col"] {
  @media screen and (min-width: $centercenter2col_content-column_min-width) {
    .body-title,
    .body-banner,
    .body-bannerOverlay,
    .body-top {
      --engrid__body-title_background-color: #f5f5f5;
      --engrid__body-banner_background-color: #f5f5f5;
      --engrid__body-top_background-color: #f5f5f5;
    }
  }
}

// END AIUSA ENGRID CUSTOM LAYOUTS
